################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/platforms/android
/hooks
/.vs
*.js
/platforms
