<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>561775134922-0s0e6rt2mg38bi9ubfipjr4r8ajv98ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561775134922-0s0e6rt2mg38bi9ubfipjr4r8ajv98ml</string>
	<key>API_KEY</key>
	<string>AIzaSyBXwVcB7oXLqC-scutPBd2yHsMwoFv_ajI</string>
	<key>GCM_SENDER_ID</key>
	<string>561775134922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.zoroastriancalendarapp</string>
	<key>PROJECT_ID</key>
	<string>zoroastrian-calendar-project</string>
	<key>STORAGE_BUCKET</key>
	<string>zoroastrian-calendar-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561775134922:ios:e5b4a34fb4ece9ee</string>
	<key>DATABASE_URL</key>
	<string>https://zoroastrian-calendar-project.firebaseio.com</string>
</dict>
</plist>